/* Resetando as margens e preenchimentos padrões e ajustando o box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Garantindo que o HTML e o corpo ocupem 100% da altura da janela */
html, body {
    height: 100%;
    min-height: 100vh;
}

/* Definindo o estilo do fundo do corpo, com posicionamento central e sem repetição de imagem */
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    flex-shrink: 1;
}

/* Definindo o layout principal do container, com flexbox para alinha os itens ao início */
.container {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 100vh;
}

/* Estilizando a coluna dentro do container com alinhamento central e layout em coluna */
.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    border: none;
    height: 100%;
    width: 80%;
}

/* Estilizando os botões com gradiente, sombras e bordas arredondadas */
button {
        display: block;
        margin-bottom: 10px;
        background: linear-gradient(45deg, #5dd567, #ffffff);
        color: white;
        font-family: 'Roboto', 'sans-serif';
        font-weight: bold;
        border: transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 15px #5dd567;
        text-shadow:
            -0.5px -0.5px 0 #2f8703,
            0.5px -0.5px 0 #2f8703,
            -0.5px 0.5px 0 #2f8703,
            0.5px 0.5px 0 #2f8703;
    }

/* Mudando o estilo do botão ao passar o mouse sobre ele */
button:hover {
    background: linear-gradient(45deg, #2f8703, #ffffff);
}

/* Estilizando o título h1 com fontes fantasiosas, sombras e centralização */
h1 {
    text-align: center;
    font-family: 'Roboto', cursive;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900px;
    text-shadow:
        -1px -1px 20px rgba(93, 213, 103),
        1px -1px 20px rgba(93, 213, 103),
        -1px 1px 20px rgba(93, 213, 103),
        1px 1px 20px rgba(93, 213, 103);
}

/* Media queries para dispositivos pequenos (retrato) */
@media (min-width: 320px) and (max-width: 1023px) and (orientation: portrait) {
    /* Centralizando o container e a coluna no modo retrato */
    .container {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .coluna {
        width: 80%;
        justify-content: end;
        padding-bottom: 2rem
    }
    /* Ajustando o tamanho dos botões para telas menores */
    button {
        width: 9rem;
        height: 3.2rem;
        font-size: 1.3rem;
        padding: 0.3rem 0.6rem;
        margin-bottom: 1rem;
    }
    h1 {
    margin-bottom: 1rem;
         font-size: 40px;
}
    /* Definindo a imagem de fundo específica para o modo retrato */
    body {
        background-image: url('Echidna Móvel Retrato.jpg');
    }
}

/* Media queries para dispositivos no modo paisagem */
@media (orientation: landscape) {
    /* Alinhando o container ao início no modo paisagem */
    .container {
        justify-content: flex-start;
        align-items: flex-start;
    }
    /* Definindo a imagem de fundo específica para o modo paisagem */
    body {
        background-image: url('Echidna Desktop.png');
        background-color: #554756;
        background-size: contain;
        background-position: right;
    }
    /* Ajustando o tamanho dos botões para o modo paisagem */
    button {
        width: 6rem;
        height: 2.0rem;
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
    }
}

/* Media queries para dispositivos maiores, como desktops */
@media (min-width: 1024px) {
    /* Ajustando a largura da coluna para telas grandes */
    .coluna {
        width: 75%;
        justify-content: right;
    }
    /* Ajustando o tamanho dos botões para telas maiores */
    button {
        width: 13rem;
        height: 6rem;
        font-size: 2rem;
        padding: 1rem 1.3rem;
        margin-top: 1.6rem;
    }
    /* Definindo a imagem de fundo específica para telas grandes */
    body {
        background-image: url('Echidna Desktop.png');
        background-color: #554756;
        background-size: contain;
        background-position: right;
        
    }
    h1 {
        text-shadow: -1px -1px 0 #ecffd7, 1px -1px 0 #ecffd7, -1px 1px 0 #ecffd7, 1px 1px 0 #ecffd7;
        font-size: 100px;
        margin-top: 3rem;
    }
}